@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Calligraffitti', cursive; */
}

body {
  background-color: #F0F0F0;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 75px;
  background-image: linear-gradient(to right, grey, #F0F0F0, red);
  border-bottom: 2px solid black;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 0.1em;
  cursor: default
}

.navigation-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  background-color: grey;
  padding: 10px;
  border-bottom: 1px solid black;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.pac-logo {
  width: 30px;
  height: 30px;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transport {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: flex-end;
  gap: 26px;

}

.button {
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 60px;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 278px;
  height: 650px;
  border: 3px solid black;
  border-radius: 5px;
  background-image: linear-gradient(to left, red, #F0F0F0, #808080);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  transform: scaleY(1.2);
}

.my-devices {
  width: 110px;
  border: 1px solid black;
  word-wrap: break-word;
}

.wave-display {
  border: 1px solid black;
  border-radius: 5px;
  width: 254px;
  height: 147px;
  background-color: #F0F0F0;
}

.mic-logo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.open-logo {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}


.stop-logo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.octave-container {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.octave-label {
  font-size: 18px;
  font-weight: 800;
}

.left-arrow,
.right-arrow {
  width: 35px;
  height: 35px;
}

.left-arrow:active,
.right-arrow:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.load-sound {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 0.5em;
  background-color: #808080;
  border-radius: 5px;
  font-size: 12px;
  color: white;
}

.load-sound:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.load-sound:hover,
.mic-logo,
.button,
.left-arrow,
.right-arrow,
.stop-logo {
  cursor: pointer;
}

.item {
  position: absolute;
  display: none;
}









@media (max-width: 280px) {

  .header-container {
    width: 280px;
  }

  .navigation-container {
    width: 280px;
    justify-content: center;

  }
}