@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Calligraffitti', cursive; */
}

body {
  background-color: #F0F0F0;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 75px;
  background-image: linear-gradient(to right, grey, #F0F0F0, red);
  border-bottom: 2px solid black;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 0.1em;
  cursor: default
}

.navigation-container {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 15px;
  background-color: grey;
  padding: 10px;
  border-bottom: 1px solid black;
  letter-spacing: 0.1em;
  font-weight: 600;
}

.pac-logo {
  width: 30px;
  height: 30px;
}


.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.transport {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: flex-end;
  gap: 26px;
}

.button {
  border-radius: 5px;
  padding: 5px;
  width: 60px;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.ui-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 278px;
  height: 650px;
  border: 3px solid black;
  border-radius: 5px;
  background-image: linear-gradient(to left, red, #F0F0F0, #808080);
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: black;
}

.nav-div {
  min-width: 75px;
  padding: 5px;
  align-self: center;
  text-align: center;
}

.nav-div:hover {
  transform: scaleY(1.05) scaleX(1.05);
  cursor: pointer;
  transition: transform 0.5s;
  transition-timing-function: ease;
}

.my-devices {
  width: 110px;
  border: 1px solid black;
  word-wrap: break-word;
}

.wave-display {
  border: 1px solid black;
  border-radius: 5px;
  width: 254px;
  height: 147px;
  background-color: #F0F0F0;
}

.mic-logo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.open-logo {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 5px;
}


.stop-logo {
  width: 25px;
  height: 25px;
  border-radius: 5px;
}

.octave-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;

}

.octave-label {
  font-size: 18px;
  font-weight: 800;
}

.left-arrow,
.right-arrow {
  width: 35px;
  height: 35px;
}

.left-arrow:active,
.right-arrow:active {
  transform: scale(1.1, 1.1);
}

.load-sound {
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  padding: 0.5em;
  background-color: #808080;
  border-radius: 5px;
  font-size: 12px;
  color: white;
  min-width: 175px;
  min-height: 26px;
}

.load-sound:active {
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}


.button:hover {
  cursor: pointer;
  background-color: lightgray;
}

/* Modal Menu Items */
.settings-container {
  display: none;
  position: absolute;
  width: 278px;
  height: 650px;
  border: 1.5px solid black;
  z-index: 10;
  border-radius: 5px;
  background-color: #c1c1c1;
  padding: 5px;
  margin-top: 25px;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: red;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Range*/
input[type=range] {
  margin: 20px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animation: 0.2s;
  background: #03a9f4;
  border-radius: 25px;
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
  cursor: pointer;

  margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #03a9f4;
}

.range-wrap {
  width: 50%;
  position: relative;
}

.range-value {
  position: absolute;
  top: -50%;
}

.range-value span {
  width: 30px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #03a9f4;
  color: #fff;
  font-size: 12px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 6px;
}

.range-value span:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid #03a9f4;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.slider-flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.modal-container {
  display: flex;
  justify-content: center;
}

.effect-container {
  display: grid;
  height: 650px;
  align-items: center;
}

.single-effect-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;
  max-height: 28px;
  align-content: space-between;
  text-align: center;
}

.select {
  padding: 2.5px;
  border-radius: 5px;
  transition: opacity 0.5s;
  transition-timing-function: ease;
}

.show-none {
  display: none;
}

.delay-select-even,
.delay-select-odd {
  min-width: 45px;
}

.effect-container p {
  font-weight: 900;
}

.showBtn {
  position: relative;
  bottom: 600px;
  height: 30px;
  z-index: 10;
  transition: opacity 1.5s;
  transition-timing-function: ease;
}

.the-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
}

#enter-info {
  min-height: 20px;
}

.mic-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.mic-buttons {
  min-width: 75px;
}

.pref-container {
  display: block;
  position: absolute;
  width: 278px;
  height: 650px;
  border: 1.5px solid black;
  z-index: 10;
  border-radius: 5px;
  background-color: #c1c1c1;
  padding: 5px;
  margin-top: 25px;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease;
}



.form-init-button {
  margin-top: 15px;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #c1c1c1;
  align-items: center;
  min-width: 200px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  text-align: center;

}

.login-input {
  border-style: none;
}

.form-header {
  margin: 5px 5px
}

/* Responsive  */

@media (max-width: 280px) {

  .header-container {
    width: 280px;
  }

  .navigation-container {
    width: 280px;
    justify-content: center;

  }
}